[Unit]
Description=Temperature Reading And Logging Script

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/home/pi/USST/New-Member-Project/TemperatureSensor/ArduinoTemp.py

[Install]
WantedBy=multi-user.target

